.loginPage {
  .loginBox {
    background: #F2AB39;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    @include breakpoint('mobile'){
      padding: vw(20) 0;
    }
    @include breakpoint('pc'){
      padding: 20px 0;
    }
  }
  p,
  label {
    color: white;
    @include breakpoint('mobile'){
      margin-bottom: vw(6);
      font-size: vw(14);
    }
    @include breakpoint('pc'){
      margin-bottom: 6px;
      font-size: 14px;
    }
  }
  input[type="text"],
  input[type="password"],
  input[type="number"] {
    background: #FFF;
    @include breakpoint('mobile'){
      width: vw(180);
      height: vw(24);
      padding-left: vw(5);
      font-size: vw(12);
    }
    @include breakpoint('pc'){
      width: 180px;
      height: 24px;
      padding-left: 5px;
      font-size: 12px;
    }
  }
  .input-box {
    @include breakpoint('mobile'){
      margin-bottom: vw(20);
    }
    @include breakpoint('pc'){
      margin-bottom: 20px;
    }
  }
  
  input[type="radio"] {
    @include breakpoint('mobile'){
      margin: 0 vw(7);
    }
    @include breakpoint('pc'){
      margin: 0 7px;
    }
  }
  label {
    @include breakpoint('mobile'){
      margin-right: vw(15);
    }
    @include breakpoint('pc'){
      margin-right: 15px;
    }
  }
  
  p.error {
    color: rgb(255, 119, 119);
    @include breakpoint('mobile'){
      font-size: vw(12);
      padding-top: vw(4);
    }
    @include breakpoint('pc'){
      font-size: 12px;
      padding-top: 4px;
    }
  }
  .mb-20 {
    
    @include breakpoint('mobile'){
      margin-bottom: vw(30);
    }
    @include breakpoint('pc'){
      margin-bottom: 30px;
    }
  }
  h1 {
    color: aliceblue;
  }
  .btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: snow;
    
    @include breakpoint('mobile'){
      margin-bottom: vw(20);
      font-size: vw(12);
      line-height: vw(20);
      border-radius: vw(20);
    }
    @include breakpoint('pc'){
      margin-bottom: 20px;
      font-size: 12px;
      line-height: 20px;
      border-radius: 20px;
    }
  }
}