.menuWrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFF;
  z-index: 2;
  .title, .closeBtn {
    position: relative;
    text-align: center;
    cursor: pointer;
    @include breakpoint('mobile'){
      font-size: vw(17);
      padding: vw(20) ;
    }
    @include breakpoint('pc'){
      font-size: 17px;
      padding: 20px ;
    }
  }
  .closeBtn {
    position: absolute;
    top: 0;
    right: 0;
  }
  .languageWrap {
    .languageItem {
      display: flex;
      align-items: center;
      background: #999;
      color: #000;
      box-shadow: 0 0 4px 0 rgba(220, 220, 220, 0.3);
      cursor: pointer;
      @include breakpoint('mobile'){
        padding: vw(10) vw(20);
      }
      @include breakpoint('pc'){
        padding: 10px 20px;
      }
      .icon {
        @include breakpoint('mobile'){
          margin-right: vw(10);
        }
        @include breakpoint('pc'){
          margin-right: 10px;
        }
      }
    }
    .languageSelectWrap {
      .languageItem {
        background: #F4F4F5;
        color: #333;
      }
      .active {
        color: #FF5537;
      }
    }
  }
}
.menu-slide-fade-enter-active {
  transition: all .3s ease;
}
.menu-slide-fade-leave-active {
  transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.menu-slide-fade-enter, .menu-slide-fade-leave-to {
  transform: translateY(10px);
  opacity: 0;
}
.select-slide-fade-enter-active {
  transition: all .3s ease;
}
.select-slide-fade-leave-active {
  transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.select-slide-fade-enter, .menu-slide-fade-leave-to {
  opacity: 0;
}